---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// ===========================================
// My variables

$site-font-family: lato, Helvetica Neue, sans-serif;
$site-font-size: 30px;
$site-font-weight: 400;
$site-font-color: #ffa0df;

$blockquote-font-family: lato, sans-serif;
$blockquote-font-style: normal;
$blockquote-font-size: 24px;
$blockquote-font-weight: 300;

$code-font-family: anonymous-pro,  monospace;
$code-font-style: normal;
$code-font-weight: 400; 
$code-font-size:  15px;

$title-font-family: marmelad, lato, sans-serif;
$title-font-color: #ffa00f; // #ffaa00; // #fa8221;
$title-font-size: 40px;

$post-link-font-family: marmelad, lato, sans-serif;
$post-link-font-weight: 400;
$post-link-font-size: 24px;

$page-heading-font-family: lato, Helvetica Neue, Helvetica, sans-serif;
$page-heading-font-size:   28px;
$page-heading-font-color:  #66cdaa;
$page-heading-font-weight: 400;

$body-font-weight: 400;

// ===========================================

// Our variables
// Some nice fonts (albeit available locally! :-( ) : Optima, Seravek, Avenir, ...

$base-font-family: Source Sans Pro, merriweather, lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fffff0; // #fcfee5; // #f0fff0;(greenish) // #fdfdfd; // #faf5b8; // #fcead0; // #effcd0; // #e9fcba;
$brand-color:      #2a7ae2; // #6bd538;   

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
