<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} by {{ site.author }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Load some web-fonts! Thanks to Adobe's Edge Web Fonts library...! :) -->
  <script src="//use.edgefonts.net/lato:n1,i1,n3,i3,n4,i4,n7,i7,n9,i9.js"></script>
  <script src="//use.edgefonts.net/merriweather:n3,n4,n7,n9.js"></script>
  <script src="//use.edgefonts.net/anonymous-pro:n4,i4,n7,i7.js"></script>
  <script src="//use.edgefonts.net/marmelad:n4.js"></script>
  <script src="//use.edgefonts.net/source-code-pro:n2,n3,n4,n5,n6,n7,n9.js"></script>

  <!-- Load some Google Web-fonst too! ;-)  -->
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Source+Sans+Pro:300,400,400italic,700,700italic|Ubuntu:300,400,700,300italic,400italic,700italic|Raleway:700,400,300|Open+Sans:300italic,400italic,700italic,400,700,300|Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Rouge+Script|Redressed|Grand+Hotel|Dynalight|Great+Vibes|Molengo|Belleza|Milonga|Griffy|Amaranth' rel='stylesheet' type='text/css'>

  <!-- Google Analytics script for my site! :) -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58142785-1', 'auto');
    ga('send', 'pageview');
  </script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
    inlineMath: [
    ['\$','\$'],
    ['\\(','\\)']
    ],
    displayMath: [
    ['$$','$$'],
    ['\\[','\\]']
    ],
    processEscapes: true
    }
    });
  </script>

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

</head>
