<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} by {{ site.author }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Load some web-fonts! Thanks to Adobe's Edge Web Fonts library...! :) -->
    <script src="//use.edgefonts.net/lato:n1,i1,n3,i3,n4,i4,n7,i7,n9,i9:all.js"></script>
    <script src="//use.edgefonts.net/merriweather:n3,n4,n7,n9:all.js"></script>
    <script src="//use.edgefonts.net/anonymous-pro:n4,i4,n7,i7:all.js"></script>
</head>
